PORT=6005
WECHAT_PUBLISHER_SCHEDULE_HOURS=8,14,20
WECHAT_PUBLISHER_MAX_ITEMS=20
WECHAT_PUBLISHER_SEARCH_TEMPLATE_IDS=high_value_active_ai,latest_created_ai,hot_recent_ai,agent_framework_ai,multimodal_ai
WECHAT_PUBLISHER_SEARCH_TEMPLATES_JSON=
WECHAT_PUBLISHER_TEMPLATE_LIMITS_JSON=
WECHAT_PUBLISHER_TEMPLATE_WEIGHTS_JSON=
WECHAT_PUBLISHER_DRAFT_AGENT_NAME=
WECHAT_PUBLISHER_DRAFT_TIMEOUT_MS=65000
WECHAT_PUBLISHER_DRAFT_RETRY_TIMES=3
WECHAT_PUBLISHER_REVIEW_RECEIVE_ID_TYPE=chat_id
WECHAT_PUBLISHER_REVIEW_RECEIVE_ID=
WECHAT_PUBLISHER_REVIEW_RETRY_TIMES=3
WECHAT_PUBLISHER_REVIEW_RETRY_DELAY_MS=500
