DEFAULT_REVIEW_AGENT=NovelStage4ExternalReviewAgent
REVIEW_AGENT_LIST=NovelStage4ExternalReviewAgent,小雨
DEFAULT_DRAFT_AGENT=NovelStage4ChapterCreationAgent
DRAFT_AGENT_LIST=NovelStage4ChapterCreationAgent,长篇叙事总编
DEFAULT_EDIT_AGENT=NovelStage4ChapterRevisionAgent
EDIT_AGENT_LIST=NovelStage4ChapterRevisionAgent,章节修订总编
